footer{
    background-color:#111;
    color:white; 
}
a{
    color:rgb(255,255,255,0.3);
    text-decoration:none;
}
.problem{
    width:90%;   
    height:350px;
    margin:0 auto;
    display:flex;
}
.problem_content{
    width:250px;
    margin:50px auto;
}
.web>a>img{
    float:left;
    margin-right:20px;
}
.problem_content>h4{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.problem_content:nth-of-type(4)>p{
    opacity:0.3;
}